// for smoothing out browser inconsistencies
@import 'normalize.scss';

// html5 boilerplate defaults
@import 'main.scss';


// entire bootstrap library
// @import "~bootstrap/scss/bootstrap";

// individual bootstrap components
@import "~bootstrap/scss/functions";
@import "variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";


body {
  font-family: Montserrat;
  background-image: url(../img/bg-masthead.jpg);
  background-color: #1A5276;
  background-blend-mode: luminosity;
  background-size: cover;
}

.site__header {
  background: #1A5276 linear-gradient(to right, #11354c, #1a5276, #11354c);
  justify-content: flex-start;
  box-shadow: 0 2px 0 rgba(0,0,0,0.21);
}

.site__title {
  display: inline-block;
  margin: 0;
  color: white;
}

.site__title a {
  display: inline-block;
  padding: 4px 0 0 0.5rem;
  color: white;
}

.page {}

.page__title {
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(18, 79, 120);
  text-shadow: rgba(0, 0, 0, 0.21) 3px 3px 0px;
  color: white;
}

.section {
  padding: 1.5rem 0;
}

.textBox--light {
  background: rgba(255, 255, 255, 0.92);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.section__title {
  margin-bottom: 1.5rem;
  color: black;
}

.section__title:after {
  content: '';
  display: block;
  border-bottom: 2px solid black;
  opacity: 0.5;
}

.section__title--light {
  color: white;
}

.section__title--light:after {
  content: '';
  display: block;
  border-bottom: 2px solid white;
  opacity: 0.5;
}

.loginMenu__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.loginMenu__link {
  display: block;
  background: black;
  height: 0;
  padding-bottom: 72.72%;
  position: relative;
  background-position: center center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.21) 3px 3px 0px;
}

.loginMenu__item {
  @include media-breakpoint-down(sm) {
    margin-bottom: 1.5rem;
  }
}

.loginMenu__item:nth-child(1) .loginMenu__link {
  background-image: url("../img/students-640.jpg");
}

.loginMenu__item:nth-child(2) .loginMenu__link {
  background-image: url("../img/faculty-640.jpg");
}

.loginMenu__item:nth-child(3) .loginMenu__link {
  background-image: url("../img/staff-640.jpg");
}

.loginMenu__label {
  background: rgba(91, 44, 111, 0.75);
  color: white;
  padding: 1rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

.toolsMenu {
  background: #5b2c6f;
  background: rgba(91, 44, 111, 0.9);
}

.toolsMenu__list {
  list-style: none;
  padding: 0;
}

.toolsMenu__listItem {
  margin-bottom: 1.5rem;
}

.toolsMenu__tool {
  align-items: center;
  /* background-color: rgba(0, 0, 0, .2); */
  background-color: hsla(282, 43%, 22%, 1);
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  transition: all .3s cubic-bezier(0.250, 0.460, 0.450, 0.940), color 0s;
  padding: 2rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.toolsMenu__tool:hover,
.toolsMenu__tool:focus {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 20px 40px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
  color: #5b2c6f;
  transform: scale(1.1);
}

.toolsMenu__tool svg {
  fill: white;
  width: 3rem;
  padding-bottom: 10px;
}

.toolsMenu__tool:hover svg,
.toolsMenu__tool:focus svg {
  fill: #5b2c6f;
}

.site__footer {
  background: #1a5276 radial-gradient(ellipse at center, #1a5276, #11354c);
  color: white;
  padding: 1rem 0 4rem;
}

.footerLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  columns: 2;
}

.footerLinks a {
  color: white;
}

@media (min-width: 840px) {
  .footerLinks {
    columns: 3;
  }
}
